.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
}

.settings {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 20px;
}

.preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.drag-drop {
  border: 1px dashed gray;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-image {
  border: 1px dashed gray;
  width: 192px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f0f0f0; */
}

.result {
  margin-top: 10px;
  width: 64px;
  height: 80px;
  background-color: #f0f0f0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.image-list,
.face-figure-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1024px;
}

.clipboard {
  position: fixed;
  top: 120px;
  right: 20px;
  width: 300px;
  border: 1px solid gray;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0.2;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 10px);
  grid-gap: 10px;
  margin-bottom: 10px;
  overflow-y: auto;
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clipboard button {
  display: block;
  margin-bottom: 10px;
}

hr {
  margin: 0;
  padding: 0;
  height: 1px;
  border: none;
  border-top: 1px solid gray;
}

/* image figure component */
.face-figure,
.image-figure {
  flex-basis: 64px 128px;
  margin: 10px;
  display: inline-block;
  vertical-align: top; /* 選擇一個垂直對齊方式 */
  margin-inline: 0.5em; /* 選擇一個內邊距 */
  border: 2px solid whitesmoke;
}

.face-figure:hover,
.image-figure:hover {
  border-color: black;
}

.face-figure.selected,
.image-figure.selected {
  border-color: red;
}

.face-figure.modified,
.image-figure.modified {
  background-color: greenYellow;
}

.face-figure.active,
.image-figure:active {
  box-shadow: inset 0 0 10px #000;
}

figcaption {
  font-style: italic;
  font-size: 14px;
  text-align: center;
  margin-top: 0px;
  color: #666;
}

/* apply and save button */
.sub-button,
.save-btn {
  margin-top: 10px;
}

.sub-button:disabled,
.save-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sub-button:hover:not(:disabled),
.save-btn:hover:not(:disabled) {
  opacity: 0.8;
}

.bench-player {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /*水平置中對齊*/
  align-items: center; /*垂直置中對齊*/
  width: 72px;
}
.bench-player-box {
  background-color: gray;
  width: 64px;
  height: 80px;
}
.bench-player-img {
  width: 64px;
  height: 80px;
}
.sub-button {
  /*其他按鈕樣式*/
  margin-top: 8px;
}
