.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 256px 1fr 192px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "settings preview locale"
    "settings preview credit"
    "config preview credit"
    "config preview credit"
    "config preview credit";
  display: grid;
  gap: 10px;
  width: 800px;
  height: 320px;
}

.outline-block {
  outline: 2px dashed #666;
  border-radius: 8px;
  padding: 8px;
}

.settings {
  grid-area: settings;
  display: flex;
  flex-flow: column wrap;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 20px;
  height: 80px;
}

.load-face-file input[type='file'] {
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.load-face-file label {
  cursor: pointer;
  display: block;
  /* display as block to allow filename display in next line */
}

#preview {
  margin-top: 10px;
  /* add space between label and filename display */
}

.save-face-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.configuration {
  grid-area: config;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  height: 100px;
  width: 240px;
}

.preview {
  grid-area: preview;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  position: inherit;
}

.drag-drop {
  border: 1px dashed gray;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-image {
  border: 1px dashed gray;
  width: 192px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f0f0f0; */
  margin: 8px;
}

.result {
  margin-top: 10px;
  width: 64px;
  height: 80px;
  background-color: #f0f0f0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.image-list,
.face-figure-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1024px;
}

.clipboard {
  position: fixed;
  top: 120px;
  right: 20px;
  width: 300px;
  border: 1px solid gray;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  /* 0.2; */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 10px);
  grid-gap: 10px;
  margin-bottom: 10px;
  overflow-y: auto;
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clipboard button {
  display: block;
  margin-bottom: 10px;
}

hr {
  margin: 0;
  padding: 0;
  height: 1px;
  border: none;
  border-top: 1px solid gray;
}

/* image figure component */
.face-figure,
.image-figure {
  flex-basis: 64px 128px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  /* 選擇一個垂直對齊方式 */
  margin-inline: 0.5em;
  /* 選擇一個內邊距 */
  border: 2px solid whitesmoke;
}

.face-figure:hover,
.image-figure:hover {
  border-color: black;
}

.face-figure.selected,
.image-figure.selected {
  border-color: red;
}

.face-figure.modified,
.image-figure.modified {
  background-color: greenYellow;
}

.face-figure.active,
.image-figure:active {
  box-shadow: inset 0 0 10px #000;
}

figcaption {
  font-style: italic;
  font-size: 14px;
  text-align: center;
  margin-top: 0px;
  color: #666;
}

/* apply and save button */
.sub-button,
.save-btn {
  margin-top: 10px;
}

.sub-button:disabled,
.save-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sub-button:hover:not(:disabled),
.save-btn:hover:not(:disabled) {
  opacity: 0.8;
}

.bench-player {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*水平置中對齊*/
  align-items: center;
  /*垂直置中對齊*/
  width: 72px;
}

.bench-player-box {
  background-color: gray;
  width: 64px;
  height: 80px;
}

.bench-player-img {
  width: 64px;
  height: 80px;
}

.sub-button {
  /*其他按鈕樣式*/
  margin-top: 8px;
}

#credit-info {
  grid-area: credit;
  text-align: right;
  width: 192px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
}

a {
  color: #0066cc;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #ff6600;
  text-decoration: none;
}

.one {
  grid-area: 1/3/2/4;
}

.two {
  grid-area: two;
}

.parent {
  position: relative;
  /* height: 300px; */
  /* 父元素高度固定，可以自行調整 */
}

.child {
  position: absolute;
  bottom: 0;
}

.tab-label {
  position: absolute;
  top: -25px;
  left: 12px;
  background-color: white;
  padding: 2px 7px 2px 7px;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 4px 4px 0px 0px;
  font-size: small;
  color: #444;
}

.changelog-day {
  margin-bottom: 30px;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 25px;
}

.changelog-date {
  font-size: 18px;
  /* 24px */
  margin-bottom: 10px;
}

.changelog-item {
  margin-bottom: 10px;
}

.changelog-title {
  font-size: 14px;
  /* 20px */
  margin-bottom: 3px;
}

.changelog-description {
  font-size: 12px;
  /*16px;*/
}

.changeLogIcon {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  background-color: #0071d4;
  color: white;
  border-radius: 50%;
  z-index: 999;
  transition: transform 0.2s;
}

.changelog.open {
  display: block;
}

.changeLogIcon:hover {
  transform: scale(1.1);
}

.locale {
  grid-area: locale;
  text-align: right;
}

.red {
  color: red;
}

.blue {
  color: blue;
}